
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Add item</h2>

<form action="/menuitem/add" method="post">
    <div class="mb-3">
        <label for="ItemName" class="form-label">Item Name</label>
        <input type="text" class="form-control" id="ItemName" name="ItemName" placeholder="Enter item name" required>
    </div>
    <div class="mb-3">
        <label for="Price" class="form-label">Price</label>
        <input type="number" class="form-control" id="Price" name="Price" placeholder="Enter price" required>
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <input type="text" class="form-control" id="Description" name="Description" placeholder="Enter description" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Item</button>
</form>