
@{
    Layout= "~/Views/Shared/_Layout.cshtml";

}

<div class="container d-flex justify-content-between">

  <div>
    <h1>Menu Item List</h1>
  </div>
  <div>
    <a href="menuitem/add" class="btn btn-success">Add Menu Item</a>
  </div>
</div>
<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var item in ViewBag.MenuItems as List<MenuItem>)
    {
        <tr>
            <th scope="row">@item.MenuItemID</th>
            <td>@item.ItemName</td>
            <td>@item.Price</td>
            <td>@item.Description</td>
            <td>
                <a href="menuitem/@item.MenuItemID" class="btn btn-primary">View</a>
            </td>
        </tr>
    }
  </tbody>
</table>